h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.g-5,.gy-5{--bs-gutter-y:-1rem}



    
    .a{color:rgb(255, 0, 0);
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        transition:all .3s ease;
        display:inline-block;
        text-decoration:none}