h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.g-5,.gy-5{--bs-gutter-y:-1rem}



    
.swiper-wrappe .swiper-slide .nft-item home-4 .nft-inner .nft-item-bottom .nft-content a{color:rgb(255, 0, 0);
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        transition:all .3s ease;
        display:inline-block;
        text-decoration:none}