.preloader .preloader-inner .preloader-icon span {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: #ffffff;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
}

span  {


    background: white;

}

img {
    max-width: 100%;
    max-height: 100%;
   }
   .cat {
    height: 200px;
    width: 200px;
   }