.preloader .preloader-inner .preloader-icon span {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: #ffffff;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
}

span  {


    background: white;

}

img {
    height: 100%;
    width: 100%;
    
   }
   .cat {
    height:33px;
    width: 40px;
   }


   .footer-top .footer-newsletter {
    padding-block: 0px;
    background: #ffffff;
    
}


.footer-top .social-list .social-link a {
    background: #ffffff;
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    font-size: 20px;
}

body.home-4 {
    background-color: #fff;
}